
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f8fafc;
}

.logo
{
  font-size:23px;
  font-size: 2.5rem;
  font-weight: 700;
  color: #0242f1;
}


.navbar
{
     position: sticky;
     top:0;
     z-index:1000;
     background:rgba(225, 239, 246, 0.75);
     border:2px solid #a6caf8;
     border-radius:24px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 18px 30px;
}


.nav-links
{

  display: flex;
  align-items: center;
  justify-content: center;
  padding:18px 0;
  backdrop-filter: blur(10px);
  gap: 32px;
  
}

.nav-links a {
  text-decoration: none;
  color: #334155;
  font-weight: 600;
  padding: 12px 20px;
  background:rgba(198, 212, 241, 0.7);
  border:1px solid #bfdbfe;
  border-radius: 14px;
  transition: color 0.25s ease;
  
}

.nav-links a:hover {
  font-size:1rem;
  color: #2563eb;
  transform: translateY(-1px);
}

.nav-btn {
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  background: #2563eb;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
}

.nav-btn:hover{
  transform: translateY(-2px); 
}

.home-page { 
  border: 8px solid #2563eb;
  min-height: 100vh;
  padding: 30px 50px;
  background: linear-gradient(
    135deg,
    #749ed6,
    #f8fafc
  );
}


.home-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin-top: 70px;
    animation: fadeUp 0.8s ease;
}


.banner-left,.banner-right
{
  flex: 1 ;
}

.banner-right img
{
  width:100%;
  height:520px;
  object-fit:cover;
  border-radius:28px;
  box-shadow:0 25px 50px rgba(37, 99, 235, 0.14)
}

@media (max-width:1100px)
{
  .home-banner
  {
    flex-direction: column;
  }
  
  .banner-left,.banner-right{
    width:100%;
  }

  .banner-right img {
    height:auto;
  }

}



.banner-tag
{
    display: inline-block;
    padding: 8px 16px;
    border-radius: 999px;
    background: #dbeafe;
    color: #1d4ed8;
    font-size:14px;
    font-weight: 600;
    margin-bottom: 22px;
}

.banner-left h1{
    font-size: 3.4rem;
    line-height: 1.15;
    color: #0f172a;
    margin-bottom: 20px;
}

.banner-left p{
  font-size: 1.05rem;
  color: #475569;
  line-height: 1.8;
  margin-bottom: 30px;
}


.banner-actions
{
  display:flex;
  gap:19px;
}

.back-btn {
  display: inline-block;
  margin-bottom: 24px;
  padding: 12px 20px;

  background: #2563eb;
  color: white;

  text-decoration: none;
  border-radius: 12px;

  font-weight: 600;
  transition: all 0.25s ease;
}

.back-btn:hover {
  background: #1d4ed8;
  transform: translateY(-2px);
}


.product-page {
  min-height: 100vh;
  padding: 40px 50px;

  background: linear-gradient(
    135deg,
    #dbeafe,
    #f8fafc
  );
}

.product-page h1 {
  font-size: 2.8rem;
  color: #0f172a;
  margin-bottom: 12px;
}

.product-page p {
  font-size: 1.1rem;
  color: #475569;
  margin-bottom: 30px;
}


.cart-page {
  min-height: 100vh;
  padding: 40px 50px;

  background: linear-gradient(
    135deg,
    #dbeafe,
    #f8fafc
  );
}

.cart-page h1 {
  font-size: 2.8rem;
  color: #0f172a;
  margin-bottom: 12px;
}

.cart-page p {
  font-size: 1.1rem;
  color: #475569;
  margin-bottom: 30px;
}


.deals-page {
  min-height: 100vh;
  padding: 40px 50px;

  background: linear-gradient(
    135deg,
    #dbeafe,
    #f8fafc
  );
}

.deals-page h1 {
  font-size: 2.8rem;
  margin-bottom: 12px;
  color: #0f172a;
}

.deals-page p {
  font-size: 1.1rem;
  color: #475569;
}

.shop-btn,
.explore-btn
{
    border:none;
    padding:14px 28px;
    border-radius: 14px;
    font-weight: 600;
     cursor: pointer;
     transition: all 0.25s ease;
     border:none;
}

.shop-btn {
  background: linear-gradient(
    135deg,
    #2563eb,
    #1d4ed8
  );
  color: white;
  box-shadow: 0 10px 20px rgba(37, 99, 235, 0.25);
}


.shop-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 18px 30px rgba(37, 99, 235, 0.35);
}

.explore-btn {
  background: white;
  color: #1d4ed8;
  border: 1px solid #bfdbfe;
}


.explore-btn:hover {
  transform: translateY(-3px);
  background: #eff6ff;
  box-shadow: 0 10px 20px rgba(37, 99, 235, 0.10);
}


.shop-btn:hover,
.explore-btn:hover {
  transform: translateY(-2px);
}



.footer {
  margin-top: auto;
  padding: 28px 32px;
  margin-top: 70px;
  border-radius: 24px;
  background: rgba(255,255,255,0.75);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255,255,255,0.4);
  box-shadow:
    0 10px 30px rgba(37,99,235,0.08);
  text-align: center;
  color: #475569;
  font-size: 15px;
  font-weight: 500;
 
}

.home-banner {
  animation: fadeUp 0.8s ease;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.categories {
  margin-top: 100px;
}


.categories h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #0f172a;
  text-align: center;
}

.category-grid {
  display:grid;
   grid-template-columns:
    repeat(3,1fr);
  gap: 24px;
}

.category-card {
  flex: 1 1 300px;
  background: rgba(255,255,255,0.85);
  padding: 18px;
  border-radius: 24px;
  box-shadow:
    0 15px 35px rgba(37,99,235,0.08);
  transition: all 0.3s ease;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-6px);
  box-shadow:
    0 22px 40px rgba(37,99,235,0.14);
}

.category-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 18px;
  margin-bottom: 14px;
}

.category-card h3 {
  text-align: center;
  color: #1e293b;
}

.category-card:hover {
  transform: translateY(-8px);
}

.hamburger
{
  display:none;
  font-size: 2rem;
  background: none;
  border:none;
  cursor: pointer;
  color:#1d4ed8;
}

@media (max-width: 1100px)
{
  

  .navbar{
    position: relative;
   
  }
  .hamburger
  {
    display:block;
    
  }

  .nav-links
  {
    position: absolute;
    top:90px;
    right:20px;
    flex-direction:column;
    background:white;
    width: 220px;
    padding:20px;
    border-radius:18px;
    box-shadow: 
    0 15px 35px rgba(0,0,0,0.1) ;
    display:none;
  }

  .nav-links.active
  {
    display:flex;
  }
  .nav-btn{
    display: none;
  }

}

